In [30]:
#Load Dependencies
import pandas as pd

In [31]:
#Extract csv
file = './Resources/alcoholSubstanceAbuse.csv'
df = pd.read_csv(file)

In [32]:
#Change column names
df = df.rename(columns={'Location':'Country_ID','Period':'Year','Indicator':'Indicator',
                'Dim1': 'Sex', 'First Tooltip': 'First Tooltip'})
df.head()

,country_id,Year,Indicator,Sex,First Tooltip
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
1,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Male,0.360
2,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Female,0.055
3,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
4,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Male,0.350

In [38]:
#Group by year of 2018
new_df = df.loc[df['Year']==2018]

In [39]:
new_df.head(10)

,country_id,Year,Indicator,Sex,First Tooltip
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
1,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Male,0.360
2,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Female,0.055
9,Albania,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,7.170
10,Albania,2018,Total (recorded+unrecorded) alcohol per capita...,Male,11.630
11,Albania,2018,Total (recorded+unrecorded) alcohol per capita...,Female,2.680
24,Algeria,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.950
25,Algeria,2018,Total (recorded+unrecorded) alcohol per capita...,Male,1.630
26,Algeria,2018,Total (recorded+unrecorded) alcohol per capita...,Female,0.250
39,Andorra,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,11.020

In [ ]:
#Export cleaned dataframe to csv in Resources folder

In [40]:
new_filepath = './Resources/alcoholSubstanceAbuse_clean.csv'
new_df.to_csv(new_filepath)