In [26]:
import pandas as pd
from sqlalchemy import create_engine

Store CSV into DataFrame

In [27]:
wh_csv_file="Resources/World_Happiness2018.csv"
world_happiness_df=pd.read_csv(wh_csv_file)
world_happiness_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

Create new data with select column and rename columns

In [28]:
new_world_happiness_df= world_happiness_df[["Overall rank", "Country or region", "Score","GDP per capita", "Healthy life expectancy"]].copy()
new_world_happiness_df.head()

,Overall rank,Country or region,Score,GDP per capita,Healthy life expectancy
0,1,Finland,7.632,1.305,0.874
1,2,Norway,7.594,1.456,0.861
2,3,Denmark,7.555,1.351,0.868
3,4,Iceland,7.495,1.343,0.914
4,5,Switzerland,7.487,1.420,0.927

In [29]:
word_happiness_rename_df=new_world_happiness_df.rename(columns={"Overall rank": "Rank","Country or region":"Country_ID", "Score":"Happiness Score"})
word_happiness_rename_df

,Rank,Country_ID,Happiness Score,GDP per capita,Healthy life expectancy
0,1,Finland,7.632,1.305,0.874
1,2,Norway,7.594,1.456,0.861
2,3,Denmark,7.555,1.351,0.868
3,4,Iceland,7.495,1.343,0.914
4,5,Switzerland,7.487,1.420,0.927
...,...,...,...,...,...
151,152,Yemen,3.355,0.442,0.343
152,153,Tanzania,3.303,0.455,0.381
153,154,South Sudan,3.254,0.337,0.177
154,155,Central African Republic,3.083,0.024,0.010
155,156,Burundi,2.905,0.091,0.145

Drop null columns

In [30]:
word_happiness_clean_df = word_happiness_rename_df.dropna(how='all')
word_happiness_clean_df

,Rank,Country_ID,Happiness Score,GDP per capita,Healthy life expectancy
0,1,Finland,7.632,1.305,0.874
1,2,Norway,7.594,1.456,0.861
2,3,Denmark,7.555,1.351,0.868
3,4,Iceland,7.495,1.343,0.914
4,5,Switzerland,7.487,1.420,0.927
...,...,...,...,...,...
151,152,Yemen,3.355,0.442,0.343
152,153,Tanzania,3.303,0.455,0.381
153,154,South Sudan,3.254,0.337,0.177
154,155,Central African Republic,3.083,0.024,0.010
155,156,Burundi,2.905,0.091,0.145

Export to new csv

In [32]:
word_happiness_clean_df.to_csv('Resources/World_Happiness2018_clean.csv')