In [24]:
import pandas as pd

In [25]:
csv_path = "resources/tobaccoAge15.csv"

tobacco_df = pd.read_csv(csv_path, encoding="utf-8")
tobacco_df.head()

,Location,Indicator,Period,Dim1,First Tooltip
0,Albania,Age-standardized prevalence of current tobacco...,2018,Both sexes,29.2
1,Albania,Age-standardized prevalence of current tobacco...,2018,Male,50.5
2,Albania,Age-standardized prevalence of current tobacco...,2018,Female,7.9
3,Albania,Age-standardized prevalence of current tobacco...,2017,Both sexes,29.3
4,Albania,Age-standardized prevalence of current tobacco...,2017,Male,50.6

In [26]:
renamed_df = tobacco_df.rename(columns={"Location": "Country_Id",
                                        "Period": "Year",
                                       "Dim1": "Sex"})
renamed_df.head()

,Country_Id,Indicator,Year,Sex,First Tooltip
0,Albania,Age-standardized prevalence of current tobacco...,2018,Both sexes,29.2
1,Albania,Age-standardized prevalence of current tobacco...,2018,Male,50.5
2,Albania,Age-standardized prevalence of current tobacco...,2018,Female,7.9
3,Albania,Age-standardized prevalence of current tobacco...,2017,Both sexes,29.3
4,Albania,Age-standardized prevalence of current tobacco...,2017,Male,50.6

In [38]:
clean_df = renamed_df[renamed_df['Year'] == 2018]
clean_df

,Country_Id,Indicator,Year,Sex,First Tooltip
0,Albania,Age-standardized prevalence of current tobacco...,2018,Both sexes,29.2
1,Albania,Age-standardized prevalence of current tobacco...,2018,Male,50.5
2,Albania,Age-standardized prevalence of current tobacco...,2018,Female,7.9
27,Algeria,Age-standardized prevalence of current tobacco...,2018,Both sexes,18.8
28,Algeria,Age-standardized prevalence of current tobacco...,2018,Male,36.3
...,...,...,...,...,...
3970,Zambia,Age-standardized prevalence of current tobacco...,2018,Male,25.0
3971,Zambia,Age-standardized prevalence of current tobacco...,2018,Female,4.4
3996,Zimbabwe,Age-standardized prevalence of current tobacco...,2018,Both sexes,13.9
3997,Zimbabwe,Age-standardized prevalence of current tobacco...,2018,Male,26.5
3998,Zimbabwe,Age-standardized prevalence of current tobacco...,2018,Female,1.3

In [37]:
clean_df.to_csv("resources/tobaccoAge15_clean.csv",
                  encoding="utf-8", index=False, header=True)